body {
    font-family: Arial;
    color: white;
  }
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  

  .left {
      left: 0;
      width: 30%;
    background-color: rgb(36, 32, 32);
  }
  

  .right {
      right: 0;
    width: 70%;
    background-color: rgb(212, 197, 177);
    color: black;
  }
  .center {
    left: 50%;
    text-align: center;
  }
  img {
      margin-bottom: 3px;
    width: 160px;
    border-radius: 50%;
  }
.contact{
    margin-top: 5%;
    margin-left: 10%;
}
.contact1{
    margin-top: 4%;
    margin-left: 10%;
    color: rgb(9, 83, 126);
}
li{
    margin-top: 30px;
    margin-left: 7%;
}
p{
    font-size: 20px;
}
.edu{
    font-size: 20px;
}